<footer style="background-color: #d3f4ce">
    <div class="container">
        <div class="row">
            <table width="100%" style="padding: 5px">
                <tr>
                    <td
                        valign="top"
                        bgcolor="#d3f4ce"
                        style="text-align: center"
                    >
                        <span class="style2"
                            >Copyright ©2003-2007 Công ty thiết kế Ý Tưởng
                        </span>
                    </td>
                    <td valign="top" bgcolor="#d3f4ce">&nbsp;</td>
                    <td valign="top" bgcolor="#d3f4ce">&nbsp;</td>
                    <td bgcolor="#d3f4ce" style="text-align: center">
                        <span class="style10"
                            ><img
                                src="/images/IconMail.gif"
                                width="16"
                                height="16"
                            />
                            <a href="">ktphuong@hcmuns.edu.vn</a>
                            <img
                                src="/images/online0.gif"
                                width="18"
                                height="18"
                            />hoadep.com.vn</span
                        >
                    </td>
                </tr>
            </table>
        </div>
    </div>
</footer>
